.orderDetailsPage{
    background-color: white;
    margin-top: 82px;
}
.orderDetailsContainer{
    padding: 2vmax 5vmax;
    padding-bottom: 0;
}
.orderDetailsContainer > h1{
    font: 300 3vmax "Roboto";
    margin-top: 100px;
    margin-bottom: 4vmax;
    color: tomato; 
}
.orderDetailsContainer > p{
    font: 400 1.8vmax "Roboto";
}
.orderDetailsContainerBox{
    margin: 2vmax;
}
.orderDetailsContainerBox > div{
    display: flex;
    margin: 1vmax 0;
}
.orderDetailsContainerBox > div > p{
    font: 400 1.2vmax "Roboto";
    color: black;
}
.orderDetailsContainerBox > div > span{
    margin: 0 1vmax;
    font: 350 1.2vmax "Roboto";
    color: #727070;
}

.orderDetailsCartItems{
    border-top: 0.5px solid rgb(204, 203, 203);
    padding: 5vmax;
}
.orderDetailsCartItems > p{
    font: 400 1.8vmax "Roboto";
}
.orderDetailsCartItemsContainer{
    max-height: 20vmax;
    overflow-y: auto;
    width: 60vw;
}
.orderDetailsCartItemsContainer > div{
    display: flex;
    font: 400 1vmax "Roboto";
    align-items: center;
    justify-content: space-between;
    margin: 2vmax 0;
}
.orderDetailsCartItemsContainer > div > img{
    width: 8vmax;
    height: 9vmax;
}
.orderDetailsCartItemsContainer > div > a{
    color: #575757;
    margin: 0 2vmax;
    width: 50%;
    text-decoration: none;
}
.orderDetailsCartItemsContainer > div > span{
    display: flex;
    margin-right: 2vmax;
}
.orderDetailsCartItemsContainer > div > span > span{
    font: 100 1vmax "Roboto";
    color: #5e5e5e;
} 
.redColor{
    color: red !important;
}
.greenColor{
    color: green !important;
}
@media screen and (max-width:600px) {
    .orderDetailsContainer > p{
        font: 400 6vw "Roboto";
    }
    .orderDetailsContainer > h1{
        font-size: 2.5vmax;
    }
    .orderDetailsContainerBox > div{
        margin: 6vw 0;
    }
    .orderDetailsContainerBox > div >p{
        font: 400 4vw "Roboto";
    }
    .orderDetailsContainerBox > div > span{
        font: 100 4vw "Roboto";
    }
    .orderDetailsCartItems{
        margin-top: 4vmax;
    }
    .orderDetailsCartItems > p{
        font: 400 6vw "Roboto";
        margin-bottom: 2.5vmax;
    }
    .orderDetailsCartItemsContainer{
        max-height: 50vw;
        width: 100%;
   
    }
    .orderDetailsCartItemsContainer > div{
        font: 400 4vw "Roboto";
   
    }
    .orderDetailsCartItemsContainer > div > img{
        width: 11vw;
        height: 14vw;
    }
    .orderDetailsCartItemsContainer > div > a{
        margin:0;
        width: 30%;
    }
    .orderDetailsCartItemsContainer > div > span > span{
        font:100 3vw "Roboto";
    }
    .orderDetailsCartItemsContainer > div > span {
        margin: 0;
    }
    .orderDetailsCartItemsContainer > div > span > b{
        font: 400 3vw "Roboto";
    }
}