.loader{
    width: 2vmax;
    height: 2vmax;
    background-color: white;
    display: grid;
    place-items: center;
}
.loader > div{
    width: 2vmax;
    height: 2vmax;
    border-bottom: 1px solid tomato;
    border-radius: 50%;
    animation:loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate{
    to{
        transform:rotateZ(-360deg);
    }
}